* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.property-list-item {
    margin: 10px 0;
}

.search-input {
    border: 2px solid blue;
    border-radius: 12px;
    font-size: 20px;
}